---
import BaseLayout from "../layouts/BaseLayout.astro";

import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"
import DriveFiles from '../components/DriveFiles.vue';
const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Caden Koslowski</div>
    <div class="text-3xl py-3 font-bold">Content Writer</div>
    <div class="py-2">
      <text class="text-lg">
        As a passionate history graduate from the University of Virginia, 
        I bring a unique blend of analytical thinking and interpersonal skills to the table. 
        My academic background has honed my ability to research, analyze, and draw insights 
        from complex historical narratives, translating them into actionable strategies in various contexts. 
        As evident through my previous job as a Content Writer and Client Lead at Verbsz Marketing,
         I thrive in a multi-faceted environment of communication and attention to detail.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://www.linkedin.com/in/caden-koslowski" target="_blank"> Let's connect!</a>
    </div>
  </div>
  <DriveFiles client:visible/>
</BaseLayout>
